body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	margin: 0;
	color: #333;
}
form {
	margin: 0;
	padding: 0;
}

.categories {
	font-size: 15px;
	color: #ccc;
}
.category {
	font-weight: bold;
	color: #9951ff;
}

.rating {
	color: #ca0814;
	font-size: 15px;
}
.pricing {
	color: #e9cf29;
	font-size: 15px;
}

.text-right {
	text-align: right;
}

textarea {
	width: 100%;
	padding: 5px;
	font-size: 20px;
	resize: vertical;
}
option, select {
	font-size: 20px;
}
.row {
	clear: both;
	padding: 5px;
}
.overview {
	width: 700px;
}

.restaurant_picture_frame {
	padding: 5px;
}
.restaurant_picture {
	width: 100%;
	height: auto;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
.col_1 {
	width: 8.333333%;
}
.col_2 {
	width: 16.66666%;
}
.col_3 {
	width: 25%;
}
.col_4 {
	width: 33.333333%;
}
.col_5 {
	width: 41.666666%;
}
.col_6 {
	width: 50%;
}
.col_7 {
	width: 58.33333%;
}
.col_8 {
	width: 66.666666%;
}
.col_9 {
	width: 75%;
}
.col_10 {
	width: 83.33333%;
}
.col_11 {
	width: 91.66666%;
}
.col_12 {
	width: 100%;
}

@media (max-width:600px) {
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12{
		margin-top: 10px;
		float:none;
		width: auto;
	}
	.overview {
		width:  auto;
	}
	h1 {
		font-size: 25px;
	}
}

@media (min-width:1100px) {
	.overview {
		width: 950px;
	}
}

.btn {
	font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;
}
.btn-default {
	color: #f4f4f4;
    color: rgba(255,255,255,.84);
    border-color: #357ebd;
    background-color: #4285f4;
}
.btn-default:hover {
	color: #fff;
	color: rgba(255,255,255,.99);
	box-shadow:0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.28);
}

.border-top {
	border-top: 1px solid rgb(220,220,220);
	border-top: 1px solid rgba(0,0,0,0.05);
}